@model AppUserModel
@{
    ViewData["Title"] = "Delete User";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Confirm to delete this user</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>UserID</label>
            <input asp-for="Id" type="text" class="form-control mb-3" disabled />
        </div>
        <div class="form-group col-md-6">
            <label>UserName</label>
            <input asp-for="UserName" type="text" class="form-control mb-3" disabled />
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input asp-for="Email" type="text" class="form-control mb-3" disabled />
        </div>
        <div class="form-group col-md-6">
            <label>Phone number</label>
            <input asp-for="PhoneNumber" type="text" class="form-control mb-3" disabled />
        </div>
    </div>

    <form asp-area="Admin" asp-controller="User" asp-action="DeleteConfirm" method="post">
        <input asp-for="Id" type="hidden" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="javascript:history.back()" class="btn btn-primary">Back to list</a>
    </form>
</main>