@model IEnumerable<BlogCategory>

<div class="category-nav d-flex justify-content-center">
	@foreach (var item in Model)
	{
		<a class="nav-link mx-4" asp-action="Index" asp-controller="Blog" asp-route-Slug="@item.Slug">@item.Name</a>
	}
</div>