@model Chapter
@{
    ViewData["Title"] = "Edit Chapter";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Sửa thông tin chương</h2>
    </div>
    <div class="container shadow p-5">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="CourseId" />
            <input type="hidden" asp-for="ChapterId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Name">Tên chương</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label asp-for="Order">Vị trí</label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label>
                        @Html.CheckBox("Status", Model.Status)
                        <span>Hiển thị</span>
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật</button>

            <a asp-area="Admin" asp-controller="Course" asp-action="Index" class="btn btn-warning">List Course</a>
        </form>
    </div>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}